* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Kanit', sans-serif;


  scrollbar-width: none;
  scrollbar-color: #b8add2 #27262c;
  scrollbar-width: auto;
  ::-webkit-scrollbar-corner{
   background-color: #27262c;
  }
  //scrollbar-color: #8f54a0 #ffffff;

&::-webkit-scrollbar {
    width: 12px;
    background-color: #27262c;
    border-radius: 30px;
    margin-right: 10px;
}

&::-webkit-scrollbar-thumb {
  border: 2px solid #9490bf;
  border-radius: 16px;
  background-color: #b8add2;
}
&::-webkit-scrollbar-track {
 background-color: #27262c;
 //border-radius: 20px;
}

}

html {
 font-size: 10px;
}



/* VARIABLES */
@import "./sass/variables";

/* MIXIN */
@import "./sass/general-mixin";

/* FONT */
@import "./sass/font";

/*DESiGN SYSTEM*/

@import "./sass/typography";
@import "./sass/button";
@import "./sass/verticalMenu";
@import "./sass/verticalTab";
@import "./sass/form";
@import "./sass/switch";
@import "./sass/card";
@import "./sass/general-sections-dimensions";

/*PATH*/ 
@import "./path/header";
@import "./path/nabvar";
@import "./path/theMoonSection";
@import "./path/feedbackSection";
@import "./path/tradeSection";
@import "./path/earnSection";
@import "./path/bettingSection";
@import "./path/buyCakeSection";
@import "./path/loginSection";
@import "./path/footer";


/*jsx*/

@import "./components/navbar/nav";
@import "./components/banner/banner";
@import "./components/banner/banner_2.scss";
@import "./components/banner/lotteryCounter";
@import "./components/banner/slideButton";
@import "./components/banner/tabs";
@import "./components/BuildTrustSection/CardsIntro.scss";
@import "./components/shared/setting-modal/setting-dialog.scss";
@import "./components/winMilionsInPrizes/WinMilions.scss";
@import "./components/footer/footer";
@import "./components/footer/footer_MenuLists";
@import "./components/footer/footer_SocialBar";
@import "./components/footer/footer_EndingElements";