* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Kanit', sans-serif;
}

html {
 font-size: 10px;
}



/* VARIABLES */
@import "./sass/variables";

/* MIXIN */
@import "./sass/general-mixin";

/* FONT */
@import "./sass/font";

/*DESiGN SYSTEM*/

@import "./sass/typography";
@import "./sass/button";
@import "./sass/verticalMenu";
@import "./sass/verticalTab";
@import "./sass/form";
@import "./sass/switch";
@import "./sass/card";
@import "./sass/general-sections-dimensions";

/*PATH*/ 
@import "./path/header";
@import "./path/nabvar";
@import "./path/theMoonSection";
@import "./path/feedbackSection";
@import "./path/tradeSection";
@import "./path/earnSection";
@import "./path/bettingSection";
@import "./path/buyCakeSection";
@import "./path/loginSection";
@import "./path/footer";


/*jsx*/

@import "./components/navbar/nav";

@import "./components/banner/banner";
@import "./components/banner/banner_2";
@import "./components/banner/lotteryCounter";
@import "./components/banner/slideButton";
@import "./components/banner/tabs";
