
/*Buttons*/

/*BOOKMARK BUTTON STYLE*/
%button {
  @include flexCenter;
  height: 4.8rem;
  width: auto;
  border-radius: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.48px;
  padding-inline: 2frem;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;

/*SET DEFOULT STYLE*/
  &-default {
    @extend %button;
    color: #fff;
    background-color: $tiffanyBrand;
    border: 0px #fff;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
/*SET DEFOULT STYLE HOVER*/
    &:hover {
      background-color: rgba(31, 200, 212, 0.637);
      transition: 400ms;
    }

      
  // &.dark-theme{
  //   background-color: red
  //   }

    
  }
/*SET ALT STYLE*/
  &-alternative {
    @extend %button;
    color: $tiffanyBrand;
    border: 2px solid $tiffanyBrand;
    background-color: $trasparency;
    
    
/*SET ALT STYLE HOVER*/
    &:hover {
      opacity: 0.65;
    
    }
  }
/*SET INFO STYLE*/
  &-info {
    @extend %button;
    height: 4.8rem;
    max-width: 4.1rem;
    min-width: 4rem;
    padding: 0px 0px;
    line-height: 2.4rem;
    letter-spacing: normal;
    color: $tiffanyBrand;
    border: 0px $tiffanyBrand;
    background-color: #08060b00;
/*SET INFO STYLE HOVER*/
    &:hover {
      opacity: 0.65;
   
    }
  }
/*SET CONNECT STYLE*/
  &-connect {
    @extend %button;
    height: 3.2rem;
    padding: 0px 16px;
    line-height: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: $tiffanyBrand;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
/*SET CONNECT STYLE HOVER*/
    &:hover {
      background-color: rgba(31, 200, 212, 0.637);
      transition: 400ms;
    }
  }
}



/*MIXIN BUTTONS SELECTOR*/

@mixin b-selector($selector) {
  @if $selector == alternative {
    @extend %button-alternative;
  } @else if $selector == info {
    @extend %button-info;
  } @else if $selector == default {
    @extend %button-default;
  } @else if $selector == connect {
    @extend %button-connect;
  } @else {
    @extend %button-default;
  }
}





.btn--default{
  @include b-selector(default); 
  user-select: none;
}

.btn--alternative{
  @include b-selector(alternative);  
}
.btn--connect{
  @include b-selector(connect); 
}

.btn--full{
 width: 100%;
}

h1{
 color: $lightBlack
}
