



%card-wrapper {
  height: fit-content;
  border-radius: 24px;
  color: $darkBlue;
  overflow: hidden;
  position: relative;
  padding: 1px 1px 4px;
  margin-bottom: 16px;
  background: $bgCardWrapper;


  &-container {
    width: 100%;
    height: 100%;
    overflow: inherit;
    border-radius: 24px;
    padding: 2.4rem;
    background: $bgCardContainer;

    &-content {
      @include flex(column, flex-end, unset);
      min-width: 232px;
      width: fit-content;
      margin-top: 6.4rem;
      min-height: 16.8rem;

      &-image {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
        width: 3.6rem;
      }
    }
  }

}

.card-container{
  max-width: max-content;
  padding: 24px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  border-radius: 24px;
  background-color: #ffffff;

  &.dark-theme{
    background-color: #27262c;
    color: #ffffff;
    }
}

.card-header{
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  min-width: 232px;
}

.card-header-text{
  text-align: left;
  margin-top: 64px;
}

.card-header-icon{
  text-align: right;
}

.card-body{
  border-radius: 10px;
}

.cards-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-space-body-footer{
  margin-bottom: 24px;
}

.card-shadow{
    height: fit-content;
    padding: 1px 1px 4px;
    box-sizing: border-box;
    background: #e7e3eb;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    &.dark-theme{
      background: #383241;
      }
}

.card-body > h2{
  color: $violetBrand1;
}

.card-body > p{
  color: $subTitleViolet;
}

@media (max-width: 900px) {
  .card-shadow{
    margin-bottom: 16px;
  }
  .card-body{
    margin-top: 0px;
  }
  .card-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .card-header-text{
    margin-top: 0px;
  }
}

.color-card-container{
  padding: 24px;
  border-radius: 24px;
}

.color-card-header{
  display: flex;
  justify-content: flex-end;
  padding-right: 3px;
}

.color-card-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.color-card-footer{
  display: flex;
  justify-content: center;
}

.color-card-tagline{
  color: $violetBrand1;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 12px;
}

.color-card-title{
  color: $violetBrand1;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  margin: 8px 0;
}


.color-card-subtitle{
  color: $violetBrand1;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 24px;
  font-size: 16px;
}

.color-card-paragraph{
  color: $violetBrand1;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}


