/* COLORS */

$primary : #666171;

$darkBlack : #08060b;
$blackBrand : #191326;
$lightBlack : #222222;
$borderBlack : #262130;
$darkBlackTransp : #08060b99;
$ligthTransp: #fff9;

$darkGray3 : #383241;
$darkGray2 : #3c3742;
$darkGray : #27262c;
$gray : #999999;
$lightGray : #cccccc;
$borderGray : #565065;

$violetBrand : #7645d9;
$violetBrand1: #280d5f;
$violetBrand2 : #9a6aff;
$violetBrand3 : #5121b1;
$lightViolet : #f4eeff;
$lightViolet2 : #b8add2;
$subTitleViolet : #7a6eaa;
$violetSeparator : #d8cbed;

$blueBrand : #1155cc;
$darkBlue : #280d5f;
$darkBlue2 : #3c1786;
$tabBlue : #372f47;
$hoverMenu: #353547;

$pinkBrand : #ed4b9e;
$ocra : #ffb237;
$ocra2: #ffcd51;
$ocra3: #ffe76a;
$ocra4: #ffd800;
$ocra5: #fdab32; 
$whiteBrand : #ffffff;
$tiffanyBrand : #1fc7d4;
$greenBrand : #29910d;
$greyMouse: #E9F2F6;
$trasparency : #00000000; 
$hoverEffect : #08060b00;


.tiffanyBrand {
    color: $tiffanyBrand;
    fill: $tiffanyBrand;
}

.pinkBrand {
    color: $pinkBrand;
    fill: $pinkBrand;
}

.violetBrand {
    color : $violetBrand !important;
    fill : $violetBrand !important;
}


$bgCardContainer : $whiteBrand none repeat scroll 0% 0%;
$bgCardWrapper : #e7e3eb none repeat scroll 0% 0%;


body.dark, body[data-theme="dark"] {

    $bgCardContainer : $darkGray none repeat scroll 0% 0%;
    $bgCardWrapper : $darkGray3 none repeat scroll 0% 0%;

        --colors-white: white;
        --colors-failure: #ED4B9E;
        --colors-failure33: #ED4B9E33;
        --colors-primary: #1FC7D4;
        --colors-primary0f: #1FC7D40f;
        --colors-primary3D: #1FC7D43D;
        --colors-primaryBright: #53DEE9;
        --colors-primaryDark: #0098A1;
        --colors-success: #31D0AA;
        --colors-success19: #31D0AA19;
        --colors-warning: #FFB237;
        --colors-warning2D: #ED4B9E2D;
        --colors-warning33: #ED4B9E33;
        --colors-binance: #F0B90B;
        --colors-overlay: #452a7a;
        --colors-gold: #FFC700;
        --colors-silver: #B2B2B2;
        --colors-bronze: #E7974D;
        --colors-secondary: #9A6AFF;
        --colors-secondary80: #9A6AFF80;
        --colors-background: #08060B;
        --colors-backgroundDisabled: #3c3742;
        --colors-backgroundAlt: #27262c;
        --colors-backgroundAlt2: rgba(39, 38, 44, 0.7);
        --colors-cardBorder: #383241;
        --colors-contrast: #FFFFFF;
        --colors-dropdown: #1E1D20;
        --colors-dropdownDeep: #100C18;
        --colors-invertedContrast: #191326;
        --colors-input: #372F47;
        --colors-inputSecondary: #262130;
        --colors-tertiary: #353547;
        --colors-text: #F4EEFF;
        --colors-text99: #F4EEFF99;
        --colors-textDisabled: #666171;
        --colors-textSubtle: #B8ADD2;
        --colors-disabled: #524B63;
        --colors-gradientBubblegum: linear-gradient(139.73deg, #313D5C 0%, #3D2A54 100%);
        --colors-gradientInverseBubblegum: linear-gradient(139.73deg, #3D2A54 0%, #313D5C 100%);
        --colors-gradientCardHeader: linear-gradient(166.77deg, #3B4155 0%, #3A3045 100%);
        --colors-gradientBlue: linear-gradient(180deg, #00707F 0%, #19778C 100%);
        --colors-gradientViolet: linear-gradient(180deg, #6C4999 0%, #6D4DB2 100%);
        --colors-gradientVioletAlt: linear-gradient(180deg, #434575 0%, #66578D 100%);
        --colors-gradientGold: linear-gradient(180deg, #FFD800 0%, #FDAB32 100%);
      }





