/*Vertical Menù*/

%verticalMenu {
  margin-bottom: 20px;
  @include flexStart;
  flex-direction: column;
  border-radius: 1.6rem;
  border: 1px solid $borderGray2;
  background-color: white;
  width: 28rem;
  color: $subTitleViolet;
  overflow: hidden;
  font-size: 1.6rem;
  left: 0px;
  /*set childs style*/
  * {
    list-style-type: none;
    width: 100%;

    /*set childs of childs style*/
    * {
      padding: 6px 0px 6px 8px;
      cursor: pointer;
      /*set childs of childs hover*/
      &:hover {
        background-color: $grayHover;
      }
    }

    %verticalMenu_content {
      @include flexSpaceBetween;
    }
    %verticalMenu_icon {
      height: 100%;
      width: 12%;
      margin-right: 5%;
      fill: $subTitleViolet;
    }

    %separator {
      border-color: $borderGray2;
      border-style: solid;
      border-width: 1px 0px 0px;
      margin: 4px 0px;
      padding: 0;

      &:hover{
       background-color: white;
      }
    }
  }
}

.verticalMenu {
  @extend %verticalMenu;

  .verticalMenu_content {
    @extend %verticalMenu_content;

    .verticaMenu_name {
    }

    .verticalMenu_icon {
      @extend %verticalMenu_icon;
    }
  }
  .separator {
    @extend %separator;

   
  }
}
