/*Vertical Menù*/

%verticalMenu {
  margin-bottom: 20px;
  @include flexStart;
  flex-direction: column;
  border-radius: 1.6rem;
  width: 28rem;
  overflow: hidden;
  font-size: 1.6rem;
  left: 0px;
  /*set childs style*/
  %vericalMenu_content_wrapper {
    list-style-type: none;
    width: 100%;
    height: 100%;
    /*set childs of childs style*/
    cursor: pointer;

    %verticalMenu_content {
      padding: 13px 0px 13px 10px;
      @include flexSpaceBetween;
      %verticalMenu_name {
      }
      %verticalMenu_icon {
        width: 24px;
        margin-right: 5%;
      }
      %verticalMenu_news{
        border: 2px solid #31d0aa;
        padding-inline: 8px;
        color: #31d0aa;
        border-radius: 16px;
        margin-right: 5px;
        font-size: 14px;
      }
    }
    %separator {
      border-style: solid;
      border-width: 1px 0px 0px;
      margin-block: 5px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: #27262c;
    border-radius: 20px;
  }
}


.language_list{
  %verticalMenu{
    overflow-y: scroll;
    width: 100%;
    max-height: 250px;
    border-radius: 8px;
    %vericalMenu_content_wrapper {
      @include flexCenter;
      padding-inline: 10px;
      %verticalMenu_content{
        padding: 10px;
      }
    }
  }
}

.dark-theme {
  %verticalMenu {
    background-color: $darkGray;
    color: $lightViolet2;
    border: 1px solid $darkGray3;
    %vericalMenu_content_wrapper {
      %verticalMenu_content {
        &:hover {
          background-color: $hoverMenu;
        }
        %verticalMenu_icon {
          fill: $lightViolet2;
        }
      }
      %separator {
        border-color: $darkGray3;
        &:hover {
          background-color: $darkGray;
        }
      }
    }
  }
  .language_list {
    %verticalMenu {
      %vericalMenu_content_wrapper {
        %verticalMenu_content {
          color: $lightViolet;
          &:hover {
            background-color: initial;
          }
          %verticalMenu_name {
            &:hover {
              transition: 0.3s;
              color: $lightViolet2;
            }
          }
        }
        %separator {
          border-color: $darkGray3;
          &:hover {
            background-color: initial;
          }
        }
      }
    }
  }
}


.light-theme {
  %verticalMenu {
    background-color: white;
    color: $subTitleViolet;
    border: 1px solid $borderGray2;
    %vericalMenu_content_wrapper {
      %verticalMenu_content {
        &:hover {
          background-color: $grayHover;
        }
        %verticalMenu_icon {
          fill: $subTitleViolet;
        }
      }
    }
    %separator {
      border-color: $borderGray2;
      &:hover {
        background-color: white;
      }
    }
  }
  .language_list {
    %verticalMenu {
      %vericalMenu_content_wrapper {
        %verticalMenu_content {
          color: $violetBrand1;
          &:hover {
            background-color: initial;
          }
          %verticalMenu_name {
            &:hover {
              transition: 0.3s;
              color: $subTitleViolet;
            }
          }
        }
        %separator {
          border-color: $darkGray3;
          &:hover {
            background-color: initial;
          }
        }
      }
    }
  }
}

.verticalMenu {
  @extend %verticalMenu;
  .vericalMenu_content_wrapper {
    @extend %vericalMenu_content_wrapper;

    .verticalMenu_content {
      @extend %verticalMenu_content;

      .verticalMenu_name {
        @extend %verticalMenu_name;
      }

      .verticalMenu_news {
        @extend %verticalMenu_news;
      }

      .verticalMenu_icon {
        @extend %verticalMenu_icon;
      }
    }
    .separator {
      @extend %separator;
    }
  }
}
