.theMoonSection-wrapper{
    @include flex(column, end, center);
    position: relative;
    height: 100rem;
    background-color: #eef5ff;

 &.dark-theme{
    background: radial-gradient(103.12%50%at 50%50%,#21193a 0%,#191326 100%);
  }

    .svgMoonSectionSeparator{
        width: 100%;
        position: absolute;
        z-index: 0;
    }
    
    .theMoonSection{
        @include flexCenter;
        height: 83rem;
        position: relative;
        width: 100%;
    
        
        &-external-container{
        @include flexSpaceBetween;
        width: 100%;
        //min-width: 115rem;
        height: 58rem;
        z-index: 1;
    
    
        .theMoonSection-leftTitle-container{
    
    
            h1{
               color: $violetBrand;
               font-size: 6.4rem;

               &.dark-theme{
                color: $violetBrand2;
               }
            }
    
            h3{
                color: $violetBrand1;
                padding-block: 3rem;
                font-weight: 600;

                &.dark-theme{
                    color: $lightViolet;
                }

            }


            
    
            .theMoonSection-buttons-container{
                @include flexStart;
                gap: 1rem;
    
                .theMoonSection-button1{
                    @include b-selector(default);
                }
    
                .theMoonSection-button2{
                    @include b-selector(alternative);
                }
            }
        
        }
        
        .theMoonSection-floatingimgs-container{
            @include flexCenter;
            width: 80%;
            height: 100%;
            position: relative;
    
            img{
                width: 100%;
                height: 100%;
                position: absolute;
    
            }
    
            .theMoonSection-star1{
                @include ghost;
                animation-delay: 2s;
            }
    
            .theMoonSection-star2{
                @include ghost;
                animation-delay: 3s;
            }
    
            .theMoonSection-star3{
                @include ghost;
            }
    
            .theMoonSection-rabbit1{
                @include noGravity;
            }
    
            
        }
    
    
    }
    
    }

    
}

 @media screen and (max-width:860px) {
    .theMoonSection{

       

        .theMoonSection-external-container{

            @include flex(column-reverse, center, center) ;
            width: 100%;
            min-width: auto;

            .theMoonSection-leftTitle-container{

                width: 100%;
                padding: 15px;
               

            }

            .theMoonSection-floatingimgs-container{
                @include flex(row, flex-end, center);
                img{
                    width: 192px;
                    height: 192px;
                }


            }


        }
    }

 }