@import "../../style.scss";

.lottery-counter {
  background-image: url("../../assets/asset\ 37.png");
  width: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: 10px;
  padding: 10px 1px;
  @include flex(space-around,center,center);

  :last-child{
    h3{
      padding-right: 15px;
    }
  }
}
.lottery-counter h2 {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 216, 0) 0%, rgb(253, 171, 50) 100%) repeat
    scroll 0% 0% padding-box text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
}

.lottery-content-wrapper{
  margin: 0px 5px; 
  @include flexSpaceBetween;
  align-items: baseline;
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 216, 0) 0%, rgb(253, 171, 50) 100%) repeat
    scroll 0% 0% padding-box text;
  -webkit-text-fill-color: transparent;
  width: fit-content;

  h3{
    padding-inline:3px
  }
}
