

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_wrapper_hidden{
 @include topHidden;
 top:-126px
}

.nav_wrapper_entry{
    @include topViewed;
    top: 0px;
}

.nav_wrapper {
  position:fixed;
  z-index: 100;
  width: 100%;
  height: 56px;
  background-color: white;
  @include flex(row, space-between, center);
  border-bottom: 1px solid #e7e3eb;
  transform: translate3d(0px, 0px, 0px);
  padding-inline: 16px;

  &.dark-theme{
    background-color: $darkGray;
    border-bottom: 1px solid $darkGray3;
  }
  
  .nav_left_wrapper {
    @include flex(row, center, center);
    height: 100%;

    .menu_wrapper {
      @include flex(row, center, center);
      height: 100%;
    }

    .menu_el_wrapper {
      padding: 0px 16px;
      @include flex(column, center, flex-start);
      color: $subTitleViolet;
      position : relative;
      cursor: pointer;
      height: 100%;

      &:hover{
        
        border-radius: 16px;
        background: $grayHover;
        
        .verticalMenu{
          display: block;
        }
      }
      
      .verticalMenu {
        top:55px;
        position: absolute;
        display: none;

        &:hover {
          display: block
        }
      }
    }

    .logo_wrapper {
      @include flexCenter;
      height: 100%;
      width: 100%;
      margin-right: 16px;

      .logo_title {
        width: 160px;
        margin-top: 5px;

        @media screen and (max-width:860px){
          display: none;
        }
      }

      svg {
        .eye {
          transition: 200ms;
        }

        height: 100%;
        width: 45px;
        padding-inline: 5px;
      }
    }
  }

  .nav_right_wrapper {
    @include flex(row, center, center);

    .settings_button {
      fill: $subTitleViolet;
      margin: 0 8px;
    }

    .language_button {
      fill: $subTitleViolet;
      margin: 0 8px;
    }

    .pancake_asset_value_wrapper {
      @include flex(row, center, center);
      padding-inline: 4px;

      h4 {
        color: $subTitleViolet;
        font-weight: 600;
      }

      img {
        padding-inline: 4px;

        &:hover {
          transform: scale(1.2);
          transition: 500ms;
        }
      }
    }
  }
}
