* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_wrapper_hidden {
  @include topHidden;
  top: -126px;
}

.nav_wrapper_entry {
  @include topViewed;
  top: 0px;
}

.nav_wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 56px;
  @include flex(row, space-between, center);
  transform: translate3d(0px, 0px, 0px);
  padding-inline: 16px;

  .nav_left_wrapper {
    @include flex(row, center, center);
    height: 100%;

    .menu_wrapper {
      @include flex(row, center, center);
      height: 100%;

      @media screen and (max-width: 576px) {
        display: none;
      }
    }

    .menu_el_wrapper {
      padding: 0px 16px;
      @include flex(column, center, flex-start);
      position: relative;
      cursor: pointer;
      height: 100%;

      &:hover {
        border-radius: 16px;
        .verticalMenu {
          display: block;
        }
      }

      .verticalMenu {
        top: 55px;
        position: absolute;
        display: none;

        &:hover {
          display: block;
        }
      }
    }

    .logo_wrapper {
      @include flexCenter;
      height: 100%;
      width: 100%;
      margin-right: 16px;

      .logo_title {
        width: 160px;
        margin-top: 5px;

        @media screen and (max-width: 860px) {
          display: none;
        }
      }

      svg {
        .eye {
          transition: 200ms;
        }

        height: 100%;
        width: 45px;
        padding-inline: 5px;
      }
    }
  }

  .nav_right_wrapper {
    @include flex(row, center, center);

    .settings_button {
      margin: 0 8px;
    }

    .language_button {
      margin: 0 8px;
    }

    .pancake_asset_value_wrapper {
      @include flex(row, center, center);
      padding-inline: 4px;

      h4 {
        font-weight: 600;
      }

      img {
        padding-inline: 4px;

        &:hover {
          transform: scale(1.2);
          transition: 500ms;
        }
      }
    }
  }
}

.mobile_menu_wrapper {
  width: 100%;
  @include flex(row, space-around, center);
  bottom: 0;
  position: fixed;
  z-index: 10;
  padding-right: 8px;
  padding-left: 8px;

  .mobile_menu_el_wrapper {
    height: 50px;
    padding: 0px 16px;
    @include flex(column, center, center);

    cursor: pointer;
    //padding: 4px 12px;

    &:hover {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      .verticalMenu {
        display: block;
      }
    }

    .verticalMenu {
      bottom: 30px;
      position: absolute;
      display: none;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      @include mobileMenuIn;

      &:hover {
        display: block;
      }
    }
  }
}

.nav_wrapper {
  &.dark-theme {

    .logo_title{
      fill: white;
    }
    background-color: $darkGray;
    border-bottom: 1px solid $darkGray3;
    .menu_el_wrapper {
      color: $lightViolet2;
      &:hover {
        background: $hoverMenu;
      }
    }
    .nav_right_wrapper {
      .settings_button {
        fill: $lightViolet2;
      }
      .language_button {
        fill: $lightViolet2;
      }
      .pancake_asset_value_wrapper {
        h4 {
          color: $lightViolet2;
        }
      }
    }
  }

  &.light-theme {
    background-color: white;
    border-bottom: 1px solid $grayHover;
    .menu_el_wrapper {
      color: $subTitleViolet;
      &:hover {
        background: $grayHover;
      }
    }
    .nav_right_wrapper {
      .settings_button {
        fill: $subTitleViolet;
      }
      .language_button {
        fill: $subTitleViolet;
      }
      .pancake_asset_value_wrapper {
        h4 {
          color: $subTitleViolet;
        }
      }
    }
  }
}

.mobile_menu_wrapper {
  &.dark-theme {
    background-color: $darkGray;
    border-top: 1px solid $darkGray3;

    .mobile_menu_el_wrapper {
      color: $lightViolet2;

      .menuIcon {
        fill: $lightViolet2;
      }

      &:hover {
        background: $hoverMenu;
      }

      p{
        color: $lightViolet2;
      }
    }
  }

  &.light-theme {
    background-color: white;
    border-top: 1px solid $grayHover;

    .mobile_menu_el_wrapper{

      .menuIcon {
        fill: $subTitleViolet;
      }
  
      &:hover {
        background: $grayHover;
      }
  
      p{
        color: $subTitleViolet;
      }

    }

  }
}
