@import "../../../App.scss";


.btn--default{
  @include b-selector(default); 
  user-select: none;
}

.btn--alternative{
  @include b-selector(alternative);  
}
.btn--connect{
  @include b-selector(connect); 
}

.btn--full{
 width: 100%;
}

h1{
 color: $lightBlack
}