.settingModalWrapper{
 @include flexCenter;
 position: fixed;
 width: 500px;
 transform: translate(-50%, -50%);
 border: 1px solid blue;
 padding: 20px 10px;
 border-radius: 16px;
 z-index: 100;

 .settingModalContent{

  .settinModalTitle{
   
  }

 }
}