@import "../../style.scss";

.footer {
    width: 100%;
    height: 49.9rem;
    background-color: $darkGray;
    padding: 5.6rem 4rem 3.2rem 10rem;
    // display: flex;
    // justify-content: center;


    &-lists-container{
        width: 120rem;
        height: 24rem;
        margin-bottom: 3.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div.menuTitle{
        color: $violetBrand2;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .ulMenu{
        
        li{
            color: $whiteBrand;
            font-size: 1.6rem;
            font-weight: 400;
        }


    }

    .svgP{
        align-self: center;
        align-self: baseline;
    }

    .socialsIcons{
        padding-bottom: 3.2rem;
        border-bottom: 0.1rem solid $borderGray;
        margin-bottom: 3.2rem;

        a{
            display:inline-block
        }
        
        svg{
            margin-right: 2.2rem;
        }
    }

}