//dimensione di default macbook air m1
.footer-section {
    width: 100%;
    height: 100%;
    background-color: $darkGray;
    padding: 5.6rem 4rem 3.2rem 4rem;

    // &-wrapper{
        // width: 120rem;
        // height: 41.1rem;
        // margin-left: 8rem;
    // }
}




